.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.8);
  z-index: 42;
}

.resultBox {
  position: relative;
  margin: 5% auto;
  width: 400px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: rgb(0, 120, 231);
  font-weight: bold;
  background-image: linear-gradient(0deg, lightgrey, white);
}
